.container{
    margin: auto;
    display: grid;
    width: 300px;
    height: 400px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr ;
    background: black;
}

p{
    padding: 0px;
    margin: 0px;
}

.screenContainer{
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.screenBlock{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
    text-align: right;
    color: white;
}

#bottomText{
    font-size: 130%;
}

h2{
    text-align: center;
}

button{
    background: black;
    color: white;
    border: solid 1px white;
}

#screen{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
    border: solid 1px white;
}

#equal {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
}